name: Build Docker Image

on:
  push:
    branches:
      - main           # запуск при пуше в ветку main
  workflow_dispatch:    # запуск вручную через интерфейс

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Build Docker image
      run: |
        docker build -t my-image-name -f ./Dockerfile .

