name: Build Docker Image

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: List files in repo
      run: ls -l

    - name: Show Dockerfile content
      run: cat ./Dockerfile

    - name: Build Docker image
      run: docker build -t my-image-name -f ./Dockerfile .

