name: Docker CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Build Docker image
      run: docker build -t my-image-name .

    - name: Run container and test
      run: docker run --rm my-image-name /bin/bash -c "echo Hello from container && exit 0"

